.textStrong {
  display: flex;
  align-items: flex-start;
  text-align: left;
  font-size: var(--Body-Size-Medium);
  color: var(--Text-Default-Default);
  font-family: var(--Body-Font-Family);
}
.textStrong2 {
  position: relative;
  line-height: 140%;
  font-weight: var(--Body-Font-Weight-Strong);
}
